*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    background-color: hsl(217, 54%, 11%);
    font-size: 18px;
}

.card{
    height: 550px;
    width: 330px;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3%;
}

.img{
    height: 300px;
    width: 100%;
    padding: 25px 25px 20px 25px;
    border-radius: 32px;
}

.title{
    color: hsl(0, 0%, 100%);
    padding: 0 21px;
    font-weight: 600;
}

.paragraph{
    color: hsl(215, 51%, 70%);
    padding: 12px 21px;
    line-height: 25px;
    opacity: 0.6;
    font-size: 16.5px;
}

.value{
    color: hsl(178, 100%, 50%);
}

.time{
    color: hsl(215, 51%, 70%);
}

.line{
    font-size: 5px;
    color: hsl(215, 51%, 70%);
}

.creation{
    color: hsl(215, 51%, 70%);
    display: inline;
}

.avatar{
    box-shadow: 0 0 0 1px white;
}

.name{
    color: white;
    display: inline;
}

.attribution{
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}